{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ room.name }}
{% endblock %}

{% block links %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'chat/css/chat_style.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="modal-content  rounded-4 shadow p-5" style='min-height: 100vh;'>
    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <h5 class="title">Chat App</h5>
                
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12">
                <i class="bi bi-bell"></i>
                <span id="count_badge">{{ unread }}</span>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                
            </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    {% for user in users %}
                                    <li class="person" data-chat="person1">
                                        <a href="{% url 'chat:room' username=user.username %}" class="stretched-link text-decoration-none text-body">
                                            <div class="user">
                                                {% if user.avatar %}
                                                    <img src="{{ user.avatar.url }}" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/no-avatar.png' %}" alt="">
                                                {% endif %}
                                                <span id="{{ user.username }}_status" class="status {% if user.online_status %}online{% else %}offline{% endif %}"></span>
                                            </div>

                                            <p class="name-time">
                                                <span class="name">{{ user.username }}</span>
                                                <span class="time">15/02/2019</span>
                                            </p>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                                <span>To: <span class="name">{{ user.username }}</span> - 
                                {% if user.online_status %}
                                    <span id="{{ user.username }}_small" class="small">Online</span>
                                {% else %}
                                    <span id="{{ user.username }}_small" class="small">Offline</span>
                                {% endif %}
                                </span>
                            </div>
                            <div class="chat-container d-flex flex-column">
                                <ul class="chat-box chatContainerScroll" id="chat-log" style="overflow-y: auto;">
                                    {% for message in messages %}
                                        {% if message.sender == request.user %}
                                            <li class="chat-right">
                                                <div class="chat-text">
                                                    {{ message.message }}
                                                </div>
                                                <div class="chat-avatar">
                                                    <img src="{{ message.sender.avatar.url }}" alt="No image">
                                                    <div class="chat-name">{{ message.sender.username }}</div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="chat-left">
                                                <div class="chat-avatar">
                                                    <img src="{{ message.sender.avatar.url }}" alt="No image">
                                                    <div class="chat-name">{{ message.sender.username }}</div>
                                                </div>
                                                <div class="chat-text">
                                                    {{ message.message }}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="mt-auto form-group mb-0 d-flex">
                                    <textarea class="form-control" rows="3" placeholder="Type your message here..." id="chat-message-input"></textarea>
                                    <i class="fa fa-paperclip attachment fs-1 align-self-center ms-2" aria-hidden="true"></i>
                                    <button id="chat-message-submit" class="submit btn btn-link">
                                        <i class="bi bi-send-fill fs-1" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->
        </div>
    </div>
    <!-- Content wrapper end -->

    </div>
</div>

{{user.id|json_script:"json-username"}}
{{user.username|json_script:"json-username-receiver"}}
{{user.avatar.url|json_script:"json-avatar-receiver"}}
{{request.user.username|json_script:"json-message-username"}}
{{request.user.avatar.url|json_script:"json-avatar-sender"}}

<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script src="{% static 'chat/js/chat.js' %}"></script>
<script src="{% static 'chat/js/online_status.js' %}"></script>
<script src="{% static 'chat/js/notify.js' %}"></script>
{% endblock %}