{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ room.name }}
{% endblock %}

{% block links %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'chat/css/chat_style.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="modal-content  rounded-4 shadow p-5" style='min-height: 100vh;'>
    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <h5 class="title">Chat App</h5>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    <li class="person" data-chat="person1">
                                        <div class="user">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <span class="status busy"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Steve Bangalter</span>
                                            <span class="time">15/02/2019</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                                <span>To: <span class="name">Emily Russell</span></span>
                            </div>
                            <div class="chat-container d-flex flex-column">
                                <ul class="chat-box chatContainerScroll" id="chat-log" style="overflow-y: auto;">
                                    {% for message in messages %}
                                        {% if message.author == request.user %}
                                            <li class="chat-right">
                                                <div class="chat-text">
                                                    {{ message.text }}
                                                </div>
                                                <div class="chat-avatar">
                                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                    <div class="chat-name">{{ message.author.username }}</div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="chat-left">
                                                <div class="chat-avatar">
                                                    <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                                    <div class="chat-name">{{ message.author.username }}</div>
                                                </div>
                                                <div class="chat-text">
                                                    {{ message.text }}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% comment %} <li class="chat-left">
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Russell</div>
                                        </div>
                                        <div class="chat-text">Hello, I'm Russell.
                                            <br>How can I help you today?
                                        </div>
                                        <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
                                    </li>
                                    <li class="chat-right">
                                        <div class="chat-hour">08:56 <span class="fa fa-check-circle"></span></div>
                                        <div class="chat-text">Hi, Russell
                                            <br> I need more information about Developer Plan.</div>
                                        <div class="chat-avatar">
                                            <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                                            <div class="chat-name">Sam</div>
                                        </div>
                                    </li> {% endcomment %}
                                </ul>
                                <div class="mt-auto form-group mb-0 d-flex">
                                    <textarea class="form-control" rows="3" placeholder="Type your message here..." id="chat-message-input"></textarea>
                                    <i class="fa fa-paperclip attachment fs-1 align-self-center ms-2" aria-hidden="true"></i>
                                    <button id="chat-message-submit" class="submit btn btn-link">
                                        <i class="bi bi-send-fill fs-1" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->
        </div>
    </div>
    <!-- Content wrapper end -->

    </div>
</div>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
    const roomName = {{ room_name_json }};
    const userName = {{ username }};

    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data);
        if (data.message) {
            let htmlAvatar = '<div class="chat-avatar">';
            htmlAvatar += '<img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">';
            htmlAvatar += '<div class="chat-name">' + data.username + '</div></div>';
            let htmlText = '<div class="chat-text">' + data.message + '</div>';
            let html = '';
            let liEl = document.createElement('li');
            if (data.username === userName) {
                html = htmlText + htmlAvatar
                liEl.className = 'chat-right';
            } else {
                html = htmlAvatar + htmlText
                liEl.className = 'chat-left';
            }
            liEl.innerHTML += html

            document.querySelector('#chat-log').appendChild(liEl);
            scrollToBottom()
        } else {
            alert("The message was empty!")
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName,
        }));
        messageInputDom.value = '';
    };

    function scrollToBottom() {
        const objDiv = document.querySelector('#chat-log');
        objDiv.scrollTop =objDiv.scrollHeight;
    }
    scrollToBottom()
</script>
{% endblock %}