{% extends "base.html" %}

{% block title %}
    All Users
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-3">
            <h2>Users:</h2>
            {% for user in users %}
                {% if not user.is_superuser %}
                    {% if user not in request.user.friends.all and user != request.user %}
                    <div class="row justify-content-between my-3">
                        <div class="col-4">{{ user.username }}</div>
                        <a href="{% url 'send-friend-request' user.id %}" class="btn btn-outline-warning btn-sm col-6">Add to Friends</a>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-3">
            <h2>Your Friends:</h2>
            {% for friend in user.friends.all %}
                {% if friend != request.user %}
                    <div class="row justify-content-between my-3">
                        <div class="col-4">{{ friend.username }}</div>
                        <a href="{% url 'send-friend-request'  friend.id %}" class="btn btn-outline-danger btn-sm col-6">Delete Friend</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-3">
            <h2>Friend Requests:</h2>
            {% for friend_request in request.user.to_user.all %}
                <div class="row justify-content-between my-3">
                    <div class="col-4">{{ friend_request.from_user }}</div>
                    <a href="{% url 'accept-friend-request'  friend_request.id %}" class="btn btn-outline-warning btn-sm col-6">Accept</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}